.open-button {
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  padding: 20px;
}

.modal {
  background-color: white;
  border-radius: 12px;
  padding: 20px;
  width: 300px;
  position: relative;
  max-height: 90vh;
  overflow-y: auto;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
              0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.close-button {
  position: absolute;
  top: 16px;
  right: 16px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #666;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background-color 0.2s;
}

/* Header */
.header {
  text-align: center;
  margin-bottom: 32px;
}

.title {
  font-size: 20px;
  font-weight: 700;
  color: #1a1a1a;
  margin: 0 0 8px 0;
}

.subtitle {
  font-size: 12px;
  color: #666;
  margin: 0;
}

/* Form layout */
.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.input-group {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.label {
  display:block;
  font-size: 11px;
  font-weight: 600;
  color: #374151;
  margin-bottom: 6px;
}

.input ,.err{
  width: 100%;
  box-sizing: border-box;
  padding: 8px 12px;
  border-radius: 8px;
  font-size: 13px;
  outline: none;
}
.err{
  border: 2px solid #D62828;
}
.input{

  border: 2px solid #e5e7eb;
}

/* Forgot Password Link */
.forgot-password {
  text-align: right;
  margin-top: -8px;
}

.link ,.link-btn{
  color: #007bff;
  text-decoration: none;
  font-size: 11px;
  font-weight: 500;
}

/* Submit Button */
.submit-button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s;
  margin-top: 8px;
}

/* Footer */
.footer {
  text-align: center;
  margin-top: 24px;
}

.footer-text {
  color: #666;
  font-size: 11px;
}

/* Toggle Auth View Button */
.link-btn{
  background: none;
  border: none;
  cursor: pointer;
}

