@import url('./common.css');
@import url('./variables.css');

.titles {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin-bottom: 1em;
}

.titles span {
  text-align: center;
  font-weight: 600;
}

.apply-btn {
  display: flex;
  justify-content: flex-end;
  margin-top: 0.5em;
}

.suggestion-table {
  border: 1px solid var(--lighter-gray);
  border-radius: 8px;
  padding: 1em;
}

.suggestion-title {
  display: flex;
  gap: 0.5em;
  align-items: center;
  margin: 2em 0 1em;
}

.suggestion-title span {
  font-size: 1.1em;
}

.suggestion {
  border: 1px solid var(--lighter-gray);
  border-radius: 8px;
  padding: 0.5em 1em;
}

.suggestion-item {
  display: flex;
  justify-content: space-between;
  gap: 1em;
  align-items: center;

}

.suggestion-list {
  display: grid;
  gap: 1em;
}

.suggestion-item>div {
  display: flex;
  gap: 0.5em;
  align-items: center;
}
